* {
    margin: 0;
  }
  
  /* html, body {
    overflow-y: hidden;
 } */

  body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("IMG_4423_compressed_high_small.jpg");
    background-size: contain;
    font-family: "Press Start 2P";
    align-items: center;
    justify-content: center;
  }
  
  .wrapper > * {
    padding: 20px;
  }
  
  .page-header {
    background: #592E83;
  }
  
  .page-main {
    flex-grow: 1;
    /* background: #331E4D; */
  }

  #paypal-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70%;
    /* width: calc(100% - 100px); */
  }

  select option[disabled] {
    display: none;
}

.detail-btn {
    padding-top: 10px;
}

/* .red-btn {

} */

.size-select {
    margin-top: 70% !important;
}

#detail-btn {
    margin: 0 auto;
    display: block;
}

/*on landscape push size selector higher on page*/
@media (orientation: landscape) {
    .size-select {
        margin-top: 20% !important;
    }
  }
  

  