* {
    margin: 0;
  }
  
  /* html, body {
    overflow-y: hidden;
 } */

  body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("53_compressed_high.jpg");
    background-size: contain;
  }
  
  .wrapper > * {
    padding: 20px;
  }
  
  .page-header {
    background: #592E83;
  }
  
  .page-main {
    flex-grow: 1;
    /* background: #331E4D; */
  }

  .enter-site {
      font-size: 1.6rem;
      font-weight: bold;
      color:#ffffff;
      float: right;
      text-decoration: none;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
  }
  
  .blink{
    animation:blinkingText 0.333s infinite;
}
@keyframes blinkingText{
    0%{     color: #9c88ff;    }
    49%{    color: #9c88ff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #9c88ff;    }
}


